
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    /* flex-direction: column; */
    min-height: 100vh;
  }



  .content {
    flex: 1;
    padding: 20px;
    /* display: flex;
    align-items: center; */
    /* overflow-y: auto; Add a vertical scrollbar if content overflows */
  }

  .car-list {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; */
    display: flex;
    align-items: center;
    margin-left: 30%;
  }

  .car-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    /* display: flex;
    align-items: center; */
    
  }

  .car-details {
    margin-bottom: 10px;
  }

  .car-image {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .car-card button {
    background-color: #3498db;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .car-card button:hover {
    background-color: #2980b9;
  }

  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
